* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
}

